@import url("../node_modules/bootstrap/dist/css/bootstrap.css");

html, body { 
    height: 100%;
}
body { 
    margin: 0;   
    font-family: "Reddit Mono", monospace;
    background-color: #212121;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: "Reddit Mono", monospace;
    color: white;
}
